# Client Dependencies
/client/node_modules
/client/build

# Environments
/client/.dev.env
/venv/

# Cache
**/__pycache__/

# Saved ML Model
/model/trained_model.sav
/model/train_model.py

# Server key hosted on AWS
stress-detection-server-key.pem